@import url('https://fonts.googleapis.com/css2?family=Lilita+One');
body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: #ffffff;
}

header{
    background: #5a909c;
    height: 10vh;
    font-family: 'Lilita One', serif;
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 1px #000000;
    opacity: 0.8;
    position: relative;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    z-index: 1;
    margin-bottom: 10px;
}
main{
    height: 85vh;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

footer{
    background: linear-gradient(to bottom, #F0ECEC, #BFD7EA);
    height: 5vh;
    display: flex;
    justify-content: left;
    align-items: left;
}

.button_container {
    position: relative;
    margin-top: 5px;
    height: 10vh;
    margin-left: 1vh;
    display: flex; 
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#bookshelf_container, #augmented_container{
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}